/* Reset de Estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Topo principal da página */
body {
    font-family: "Lato", sans-serif;
    background: #D9EFDE;
}

nav {
    background-color: #232E26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.itensNav {
    font-size: large;
    color: aliceblue;
    text-decoration: none;
    width: fit-content;
}
  
.itensNav:hover {
    color: #FFD050;
    transition: .3s;
}

.direct-link{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: fit-content;
    /* transition: .4s ease-in-out; */
    > h3 {
        width: fit-content;
        border: none;
        padding: 8px 4px;
        font-size: 14px;
        color: rgb(0, 0, 0);
        background-color: #FFD050;
        font-weight: 700;
        cursor: pointer;
        border-radius: 8px;
    }
}




.menu {
    padding: 16px 0;
}

nav .menu li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-title {
    color: aliceblue;
    font-size: 18px;
}

#contact {
    border: 1px solid #D9EFDE;
    border-radius: 50px;
}

/*carrosel*/
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5); /* Cor do botão */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.article-image {
    max-width: 60%; /* Garante que o carrossel não ultrapasse a largura do contêiner pai */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda o tamanho máximo do contêiner */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */

  }
  
  .carousel-slide img {
    max-width: 60%; /* Garante que as imagens não ultrapassem a largura do contêiner */
    height: auto; /* Mantém a proporção original das imagens */
  }
  


/* Estilização do cabeçalho do artigo */
.spacer {
    height: 40px; 
}

.article-header {
    text-align: center;
}

.author-info {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.author-info img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
    border-radius: 50%;
}

.author-date {
    display: flex;
    flex-direction: column; 
}

.article-title {
    padding: 0 35px;
    font-size: 45px; 
    margin-top: 10px; 
    margin-bottom: 0; 
}

.article-image {
    margin-top: 20px;
}

.article-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}


.main-content {
    margin: 100px 0;
    padding: 0 150px; 
}

.main-content p {
    margin-top: 30px; 
    text-align: justify; 
    font-size: 22px; 
}

/* Rodapé principal da página */
footer {
    height: 150px;
    background-color: #232E26;
    padding: 50px 100px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D9EFDE;
}

.footer-info > hr {
    color: #F2F4F8;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Espaço entre o rodapé e o texto abaixo */
.main-content {
    margin-top: 30px; 
}


@media only screen and (max-width: 950px) {
    .main-content {
      padding: 0 80px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .article-title {
      font-size: 35px;
    }
  
    .main-content {
      padding: 0 50px;
    }
  }
  
  @media only screen and (max-width: 690px) {
    footer {
      padding: 50px 20px;
    }
  
    .article-image {
      max-width: 80%;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .article-title {
      text-align: justify;
      padding: 0 20px;
      font-size: 28px;
    }
  
    .main-content {
      padding: 0 25px;
  
      > p {
        font-size: 18px;
      }
    }
  
    .article-image {
      max-width: 95%;
    }
  }

  @media only screen and (max-width: 700px) {
    /*MENU HAMBURGUER*/
    nav {
        padding: 2rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }   

    #menu {
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        height: 50%;
        background-color: rgba(0,0,0,0.9);
        z-index: 1000;
    }

    .menu {
        display:flex;
        flex-direction: column;
    }

    .itensNav {
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    .itensNav:hover {
        background-color: rgba(255,255,255,0.1);
    }

    .hamburger {
        display: block;
        top: 0;
        right: 10px;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        display: block;
        height: 2px;
        background-color: #D9EFDE;
        margin: 4px 4px;
    }
}